h1 {
  font-family: 'Inter', sem serifa;
  font-size: 49px;
  line-height: 56px;
  font-size: normal;

}

h1 span {
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;

}

span, a {
  color: #ff9900;
}

p {
  color: #7d7987;
}